.root{
    display: flex;
    align-items: center;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    background: #34361a;
    height: 60vh;
    gap: 20px;
    color: aliceblue;
    padding: 20px 0;
}